# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.db
*.h2.db
*.iml
.classpath
.claude/
.DS_Store
.idea
.idea/
.project
.settings/
/bin
local-repo/
node_modules/
src/main/latex/*.aux
src/main/latex/*.gz
src/main/latex/*.pdf
target/
