<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="/css/layout.css?${build.number}"
            rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif"
            href="http://img.s3auth.com/favicon.ico?${build.number}"/>
    </head>
    <body>
        <div id="content">
            <p>
                <a href="http://www.s3auth.com/">
                    <img src="http://img.s3auth.com/logo.png?${build.number}"/>
                </a>
            </p>
            <p>
                <b style="color: red;">
                    Internal application error.
                </b>
            </p>
            <p>
                S3Auth team already received a notification about this
                problem and will work with it as soon as possible. In the
                mean time click "Back" button in your browser and try
                to do something else.
                Release <span class="tt">${build.number}</span>.
            </p>
            <pre style="display:none;">${text}</pre>
        </div>
    </body>
</html>
