 ------
 s3auth.com Persistence Layer
 ------
 Yegor Bugayenko
 ------
 2012-08-26
 ------

~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026, Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

Persistence Layer

  <<<s3auth-host>>> is a persistence layer of the application. It wraps
  in a object-oriented way the data we have in Amazon DynamoDB and the
  information we fetch from Amazon S3:

[../latex/classes-hosts.png] UML class diagram of s3auth-hosts
